@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");

body {
	margin: 0;
}
.Header {
	/* border: 3px solid red; */
	height: 3em;
	width: 100%;
}
.articleBody {
	margin: 0;
	display: flex;
	height: 150vh;
	width: 100%;
	/* border: 3px solid blue; */
}
.mainLeft {
	background-image: url(../../Assets/Images/escape.jpg);
	filter: grayscale(36%);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
	margin: 0;
	width: 70%;
}

.title {
	/* color: silver; */
	font-size: 102px;
	text-align: center;
	color: white;
	text-shadow: 0 6px 0 black;
}
.aboutBlog {
	color: white;
	text-shadow: 12px 12px 8px black;
	font-size: 32px;
	text-align: left;
	padding: 4rem;
	backdrop-filter: blur(3px);
}
.articlesRight {
	border: 3px solid orange;
	width: 30%;
	background-color: silver;
	display: flex;
	flex-direction: column;
}
.articlesWelcome {
	width: 80%;
	align-self: center;
	text-align: right;
	padding-top: 60px;
}
.listTitle {
	margin-bottom: 5px;
	font-family: "Cedarville Cursive", cursive;
	font-size: 2.4em;
}
.listSummary {
	margin-top: 0;
	margin-bottom: 20px;
	font-family: "Langar", cursive;
}
.articleList {
	width: 60%;
	margin: 2em;
	align-self: center;
}
.eachArticle {
	margin: 4em;
	border: 1px solid red;
}
.articleTitle {
	border: 3px solid aqua;
}
.articleTime {
	border: 3px solid brown;
}
.articleText {
	border: 3px solid yellow;
}
.articleAuthor {
	border: 3px solid purple;
}
.footer {
	/* border: 3px solid darkkhaki; */
	height: 3rem;
	width: 100%;
}
